.bg {
    /* The image used */
    background-image: url("../../assets/images/home.png");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 10pc
  }

  .headerClass{
   // text-align: center;
    position: relative ;
    bottom: 22%;
    margin-left: 45%;
   }

   .test1{
    // white-space: nowrap; 
    font-size: 13px;
   }

   .center{
     
   }