<!-- <section class="containerView">
    <div class="bg">
    </div>
    <h2 class="headerClass">Welcome</h2> 
</section> -->
<!-- <section> -->
<!-- <div class="container">
           <div class="columns is-centered"> -->
<!-- <app-personal-details></app-personal-details> -->
<!-- </div>
       </div> -->
<!-- </section> -->
<div class="container">
    <div class="jumbotron">
        <div class="container text-center">
            <h2>Amol Gurme</h2>
            <p>Web Developer</p>
            <hr style="border: 3px solid">
            <div class="row content">
                <h4 style="text-align: center">Summary</h4>
                <div class="col-sm-12 text-left"> 
                <p class="test1">BE professional having 3+years of experience in Analysis,Development and Maintenance of web
                    applications.Experience in development is using Web Applications AngularJS, Angular 4+ etc
                    using Technologies HTML,CSS,JAVASCRIPT.Exposure of working on various projects with
                    proficiency in problem-solving, development , maintenance and enhancement, debugging,
                    testing and ensuring delivery of projects within the time. Ability to work in collaboration with
                    team in agile and scrummethodology.</p>
               </div>
            </div>
            <hr style="border: 1px solid">
            <div class="row content">
                    <!-- <div class="col-sm-2"> 
                        <h4 class="center">Experience</h4>
                    </div> -->
                    <div class="col-sm-12 text-left">
                        <h4 style="text-align: center">Experience</h4> 
                        <h4>UI Developer</h4>
                        <h5>Softcell Technologies Ltd • Pune, Maharashtra&nbsp;&nbsp;(12/2017 - 10/2019)</h5> 
                        <h5>Software company which provides software as a service</h5>  
                        <ul>
                            <li>Developing a web based application in finance domain for LOS LoanOriginating System) system using Angular
                                4/Angular js.</li>
                                <li>Ensured timely delivery and quality all compliant with the clients quality processes</li>
                        </ul>
                        <hr>
                        <h4>UI Developer</h4>
                        <h5>Lentra AI Pvt Ltd • Pune, Maharashtra&nbsp;&nbsp;(10/2019 - Present)</h5> 
                        <h5>Software company which provides software as a service</h5>  
                        <ul>
                            <li>Developing a web based application in finance domain for LOS LoanOriginating System) system using Angular
                                4/Angular js.</li>
                                <li>Ensured timely delivery and quality all compliant with the clients quality processes</li>
                        </ul>
                   </div>
            </div>
            <hr style="border: 1px solid">
            <div class="row content">
                <div class="col-sm-12 text-left">
                    <h4 style="text-align: center">Projects</h4>
                    <h5>Web application for LEAD & LOS (Client: Aditya Birla Capital,Mumbai) 2019 - Ongoing</h5>
                    <ul>
                        <li>LEAD and LOS for unsecured PL,BL & LAP,supplier chain finance</li>
                        <li>Product.Communicate with BA to understand the exact requirements and sometimes directly with the client by
                                visiting client site.Design And Development of web application for both LEAD & LOS.andintegration of application
                                with restful web services using angular 4</li>
                        <li>Take care of SIT,UAT environments and resolve issues.</li>   
                        <li>Technical skills: Angular 4,mongo db.</li>     
                    </ul>
                    <hr>
                       <h5>Web application for LEADS Module (Client: Aditya birla my universe,Mumbai) 2017 - 2019 Pune </h5>
                       <ul>
                           <li>Design and development of admin portal for my universe site of personal loans. visit client site for new
                                requirements</li>
                            <li>Design And Development of web application and integration of application with restful web services using
                                    angular 4.co-ordinate with other team members for successful completion of task within deadline</li>
                             <li>Take care of SIT,UAT and PROD environments and resolve issues.Successfully delivered project on time.the
                                    module is now live on production</li>    
                              <li>Technical skills: Angular 4,mongo db.</li>             
                       </ul>
                </div>
            </div>
            <hr style="border: 1px solid">
        </div>
    <app-personal-details></app-personal-details>
    <app-professional-details></app-professional-details>
</div>
</div>
<!-- <div class="container">
</div>
<div class="container">
</div> -->